name: Build and upload to PyPI

on: [push, pull_request]

jobs:
  publish:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish.yml@v1
    with:
      test_extras: test
      test_command: pytest --pyargs casa_formats_io
      targets: |
        - cp*-manylinux_i686
        - cp*-manylinux_x86_64
        - cp*-manylinux_aarch64
        - cp*-macosx_x86_64
        - cp*-macosx_arm64
        - cp*-win32
        - cp*-win_amd64
    secrets:
      pypi_token: ${{ secrets.pypi_password }}
